body {
  background: #251157;
  background-image: -webkit-gradient(linear, right top, left top, from(#251156), to(#0D0825));
  background-image: linear-gradient(to left, #251156, #0D0825);
  color: white;
  font-family: "Poppins";
}

nav {
  margin: 40px 15% 0 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav img {
  height: 40px;
}

nav ul {
  text-shadow: 0px 0px 10px rgba(206, 206, 206, 0.43);
  text-transform: capitalize;
  font-size: larger;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  margin-left: 20PX;
}

nav ul li {
  padding-left: 20PX;
}

nav ul li a {
  text-decoration: none;
  color: aliceblue;
}

nav ul li a:hover {
  -webkit-box-shadow: rgba(133, 12, 117, 0.15) 0px 8px 3px;
          box-shadow: rgba(133, 12, 117, 0.15) 0px 8px 3px;
  content: "";
  border-bottom: 2px solid #7c4088;
  padding: 4px 0;
}

nav .Right {
  right: 0;
  position: absolute;
  width: 15%;
  color: #ffffff1c;
  border-bottom: dotted;
  border-width: 17px;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
      grid-template-columns: 45% 55%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 10% 0 15%;
}

.container .left-text {
  grid-column: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 120px;
  font-weight: 400;
}

.container .left-text .big-text {
  font-size: 80px;
}

.container .left-text .small-text {
  font-size: 40pt;
  line-height: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container .left-text .small-text .typing {
  color: #59A8FF;
}

.container .left-text .hero-buttons {
  padding-left: 20%;
  padding-top: 19px;
}

.container .left-text .hero-buttons .Cv-button {
  color: #000000;
  font-family: "poppins";
  font-size: 15pt;
  font-weight: 300;
  border-radius: 23px;
  border-color: #ffffff00;
  padding: 6px 25px;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 0px 1px #A915C5;
          box-shadow: 0px 0px 0px 1px #A915C5;
  -webkit-transition: 200ms;
  transition: 200ms;
  width: 200px;
}

.container .left-text .hero-buttons .Cv-button:hover {
  border-color: #ffffff00;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 0px 1px #C626FF;
  box-shadow: 0px 3px 0px 1px #A915C5;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.container .left-text .hero-buttons .Email-button {
  color: #ffffff;
  font-family: "poppins";
  font-size: 15pt;
  font-weight: 300;
  border-radius: 23px;
  border-color: #ffffff;
  padding: 6px 5px;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff00;
  -webkit-box-shadow: 0px 0px 0px 1px #A915C5;
          box-shadow: 0px 0px 0px 1px #A915C5;
  -webkit-transition: 200ms;
  transition: 200ms;
  width: 200px;
  margin-left: 16px;
}

.container .left-text .hero-buttons .Email-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 0px 1px #C626FF;
  box-shadow: 0px 3px 0px 1px #A915C5;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.container .right-ills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  grid-column: 2;
}
/*# sourceMappingURL=style.css.map */