    //--fonts--
 

        //--fonts ends


body{
     background: rgb(37,17,87);
     background-image: linear-gradient( to left ,#251156, #0D0825 );
     color: rgb(255, 255, 255);
     font-family: "Poppins";
     
    }
    //---------------------------- nav bar --------------------//
    nav{  
        margin: 40px 15% 0 15%;       
        align-items: center;
        display: flex;
        justify-content: space-between;
        img{
            height: 40px;
            
               }

        ul{
            text-shadow: 0px 0px 10px rgba(206,206,206,0.43);
            text-transform:capitalize;
            font-size: larger;
            display: flex;
            text-decoration: none;
            list-style-type: none;
            margin-left: 20PX;
                li { 
                padding-left:20PX ;
            
                a{
                    text-decoration: none;
                    color: aliceblue;    
                    }
               
                    a:hover{
                    box-shadow: rgba(133, 12, 117, 0.15) 0px 8px 3px;
                    content: "";
                    border-bottom:2px solid #7c4088;     
                    padding: 4px 0;
                    }    

            }
           
          } 
          .Right{
                right: 0;
                position: absolute;
                width: 15%;
                color: #ffffff1c;
                border-bottom: dotted;
                border-width: 17px;
            }
    }

 
    //----------------------- nav bar ----------------------//



    //----------------------- Hero ----------------------//
    .container{
        display: grid;
        grid-template-columns: 45% 55%;
        box-sizing: border-box;
        margin: 0 10% 0 15%;
        
        .left-text{
            grid-column: 0; 

            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-top: 120px;
            font-weight: 400;
            .big-text{
            font-size:80px;
            }

            .small-text{
                font-size: 40pt;
                line-height: 0px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                .typing{
                    color: #59A8FF;
                }
            }
            .hero-buttons{
                padding-left: 20%;
                padding-top: 19px;
                .Cv-button{
                    color: #000000;
                    font-family: "poppins";
                    font-size: 15pt;
                    font-weight: 300;
                    border-radius: 23px;
                    border-color: #ffffff00;
                    padding: 6px 25px;
                    text-align: center;
                    text-decoration: none;
                    background-color: #ffffff;
                    box-shadow: 0px 0px 0px 1px #A915C5;
                    transition: 200ms;
                    width: 200px;

                }
                .Cv-button:hover{
                    border-color: #ffffff00;
                    cursor: pointer;
                    -webkit-box-shadow: 0px 3px 0px 1px #C626FF; 
                    box-shadow: 0px 3px 0px 1px #A915C5;
                    transition: 200ms;
                }
                
                .Email-button{
                        color: #ffffff;
                        font-family: "poppins";
                        font-size: 15pt;
                        font-weight: 300;
                        border-radius: 23px;
                        border-color: #ffffff;
                        padding: 6px 5px;
                        text-align: center;
                        text-decoration: none;
                        background-color: #ffffff00;
                        box-shadow: 0px 0px 0px 1px #A915C5;
                        transition: 200ms;
                        width: 200px;
                        margin-left: 16px;
                    }
                    .Email-button:hover{
                        cursor: pointer;
                        -webkit-box-shadow: 0px 3px 0px 1px #C626FF; 
                        box-shadow: 0px 3px 0px 1px #A915C5;
                        transition: 200ms;
                    }
                }
            
        }
        .right-ills{
            
            display: flex;
            grid-column: 2 ; 
        }

    }



    //----------------------- Hero End ------------------//


    //---------------------- footer --------------------//



    //---------------------- end footer --------------------//