html {
  margin: 0;
  padding: 0;
  min-height: 870px;
}

body {
  margin: 0;
  padding: 0;
  background: #251157;
  background-image: -webkit-gradient(linear, right top, left top, from(#251156), to(#0d0825));
  background-image: linear-gradient(to left, #251156, #0d0825);
  color: white;
  font-family: "Poppins";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  margin: 40px 15% 0 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav img {
  height: 40px;
}

nav ul {
  text-shadow: 0px 0px 10px rgba(206, 206, 206, 0.43);
  text-transform: capitalize;
  font-size: larger;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  margin-left: 20px;
}

nav ul li {
  padding-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: aliceblue;
  border-bottom: #a915c5;
}

nav ul li a:hover {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  border-bottom: 2px solid #a915c5;
  content: "";
  padding: 4px 0;
}

nav .Right {
  right: 0;
  position: absolute;
  width: 15%;
  color: #ffffff1c;
  border-bottom: dotted;
  border-width: 17px;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 10% 0 15%;
  min-height: calc(100vh - (42px + 64.7px + 87px));
}

.container .left-text {
  -ms-grid-column: 1;
  grid-column: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 120px;
  font-weight: 400;
}

.container .left-text .big-text {
  font-size: 80px;
}

.container .left-text .small-text {
  font-size: 40pt;
  line-height: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container .left-text .small-text .typer {
  text-shadow: 2px 2px 11px rgba(0, 0, 0, 0.29);
}

.container .left-text .hero-buttons {
  padding-left: 20%;
  padding-top: 19px;
}

.container .left-text .hero-buttons .Cv-button {
  color: #000000;
  font-family: "poppins";
  font-size: 15pt;
  font-weight: 300;
  border-radius: 23px;
  border-color: #ffffff00;
  padding: 6px 25px;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 0px 1px #a915c5;
          box-shadow: 0px 0px 0px 1px #a915c5;
  -webkit-transition: 200ms;
  transition: 200ms;
  width: 200px;
}

.container .left-text .hero-buttons .Cv-button:hover {
  border-color: #ffffff00;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 0px 1px #c626ff;
  box-shadow: 0px 3px 0px 1px #a915c5;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.container .left-text .hero-buttons .Email-button {
  color: #ffffff;
  font-family: "poppins";
  font-size: 15pt;
  font-weight: 300;
  border-radius: 23px;
  border-color: #ffffff;
  padding: 6px 5px;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff00;
  -webkit-box-shadow: 0px 0px 0px 1px #a915c5;
          box-shadow: 0px 0px 0px 1px #a915c5;
  -webkit-transition: 200ms;
  transition: 200ms;
  width: 200px;
  margin-left: 16px;
}

.container .left-text .hero-buttons .Email-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 0px 1px #c626ff;
  box-shadow: 0px 3px 0px 1px #a915c5;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.container .right-ills {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  grid-column: 2;
  margin-right: -20px;
}

footer {
  position: relative;
  overflow: hidden;
  height: 100px;
  margin-top: -15px;
}

.line {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  left: 0;
}

.line-1 {
  z-index: 15;
  opacity: 0.5;
}

.line-2 {
  z-index: 10;
  opacity: 0.3;
}

.line-3 {
  z-index: 5;
  opacity: 0.3;
}

.wave {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 200%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.wave1 {
  background-size: 50% 80px;
}

.wave2 {
  background-size: 50% 100px;
  -webkit-animation: animate 12s linear infinite;
          animation: animate 12s linear infinite;
}

.wave3 {
  background-size: 50% 80px;
  -webkit-animation: animate 18s linear infinite;
          animation: animate 18s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.5);
            transform: translateX(-25%) translateZ(0) scaleY(0.5);
  }
  0% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
            transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.5);
            transform: translateX(-25%) translateZ(0) scaleY(0.5);
  }
  0% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
            transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
/*# sourceMappingURL=style.css.map */